@import 'tailwindcss';

:root {
	--active: #155dfc;
	--background: #F9FAFB;
}

.hover-darken::after {
	content: '';
	position: absolute;
	inset: 0;
	background: black;
	opacity: 0;
	transition: 0.2s;
}

.hover-darken:hover::after {
	opacity: 0.08;
}
